<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" >
    <title>Test</title>
</head>
<body>
    <div class="Title">
        <h1>Azi e Joi</h1>
    </div>
    <div class="Center">
        <div class="Bar"></div>
        <form action="/" method="post" enctype="multipart/form-data">
            <div class="Image-submit">
                <h3>Choose your image</h3>
                <input autofocus name="image" type="file" id="image" accept="image/png">
                <button type="submit">Submit</button>
            </div>
        </form>
        <div class="Bar"></div>
    </div>
    <div class="Bottom"></div>
</body>
</html>